*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
}

#wrapper{
    margin: 1rem;
}

header h1{
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 80px;
    text-indent: -999px;
}